.cart-item-card {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.cart-item-img {
  box-shadow: 0 0.1em 0.3em rgba($black, 0.5);
  border-radius: $border-radius;
  overflow: hidden;
  height: 90px;
  width: 140px;
  img {
    min-height: 100%;
    width: 100%;
  }
}

.cart-item-label {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;

  .title {
    font-weight: bold;
  }
}
.cart-item-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 1em;
  padding-bottom: 0.5em;
}
.cart-item-price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .price {
    padding-right: 0.5em;
  }
}

.cart-item-controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.cart-item-control {
  font-size: 1.5em;
  cursor: pointer;
  color: $accent2;
  &:active {
    transform: translate(1px, 1px);
  }
}
.cart-item-control.close {
  color: $accent1;
}
