.cart-card {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 1em;
  border-radius: $border-radius;
  overflow: hidden;
  background: white;
  height: 100px;

  box-shadow: 0 0.1em 0.3em rgba($black, 0.5);
}

.cart-img {
  min-height: 100%;
  width: 200px;
  img {
    min-height: 100%;
    width: 100%;
  }
}

.cart-label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  flex-grow: 1;
}

.cart-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding-top: 1em;
  .price,
  .count {
    padding-right: 1em;
  }
}

.cart-control {
  cursor: pointer;
  color: $accent2;
  &:active {
    transform: translate(1px, 1px);
  }
}
.cart-control.close {
  color: $accent1;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}
