.cart-item-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.cart-item-img {
  box-shadow: 0 0.1em 0.3em rgba($black, 0.5);
  border-radius: $border-radius;
  overflow: hidden;
  height: 90px;
  width: 140px;
  img {
    min-height: 100%;
    width: 100%;
  }
}

.cart-item-label {
  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;

  .title {
    font-weight: bold;
  }
}
.cart-item-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 1em;
  padding-bottom: 0.5em;
}
.cart-item-price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .price {
    padding-right: 0.5em;
  }
}

.cart-item-controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.cart-item-control {
  font-size: 1.5em;
  cursor: pointer;
  color: $accent2;
  &:active {
    transform: translate(1px, 1px);
  }
}
.cart-item-control.close {
  color: $accent1;
}

.cart-page-item-removal-confirmation {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-left: 1em;
  background: linear-gradient(to right, transparent 0.5em, $background 1em);
  text-align: right;

  .removal-confirmation-text {
    margin: 0;
  }
  .answer {
    display: inline-block;
    margin: 0;
    padding: 0.5em;
    padding-right: 0;
    font-size: 1.5em;
    cursor: pointer;
    &:hover {
      font-weight: bold;
      color: $accent2;
    }
    &.no {
      color: $accent1;
    }
  }
}
