.cart-drop-menu {
  position: absolute;
  z-index: 10;
  top: calc(70px - 5px);
  right: 5px;
  width: 70%;
  padding: 0.8rem;

  background: $background;
  box-shadow: 0 0.1em 0.3em rgba($black, 0.5);
  border-radius: $border-radius;

  &::after {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $background;
  }
}
.cart-menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  &:last-child {
    padding-bottom: 0.5em;
  }
}
.cart-menu-item-img {
  width: 3em;
  height: 2em;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.to-cart-link {
  text-decoration: none;
  div {
    color: $white;
    background: $accent1;
    border-radius: $border-radius;
    cursor: pointer;
    width: 100%;
    p {
      padding: 0.7em;
      margin: 0;
      text-align: center;
      font-weight: bold;
    }
    &:active {
      box-shadow: inset 0.5em 0.5em 0.5em rgba($white, 0.3);
      p {
        transform: translate(2px, 2px);
      }
    }
  }
}

//CURTAIN
.cart-curtain {
  position: absolute;
  top: 70px;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba($black, 0.5);
}
