.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 70px;
  background: linear-gradient(to right, $accent1, $accent2);
  color: $white;
  padding: $screen-padding-xs;
  @include sm-screen {
    padding: $screen-padding-sm;
  }
  @include xlg-screen {
    padding: $screen-padding-xlg;
  }
}

.logo {
  img {
    height: 40px;
  }
}

.navigation {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.nav-link {
  color: $white;
  text-decoration: none;
}
.nav-link.shop-link {
  padding: 1em 0 1em 1em;
}
.nav-link.cart-link {
  position: relative;
  font-size: 2em;
  .cart-svg {
    padding: 0 0 0 1em;
    cursor: pointer;

    &.disable {
      cursor: default;
      pointer-events: none;
      opacity: 0.6;
    }
  }
}

.active-shop {
  height: 100%;
  font-weight: bold;
}

.cart-counter {
  position: absolute;
  top: -0.2em;
  right: -0.3em;
  width: 0.7em;
  height: 0.7em;
  border: 2px solid $pink;
  background: $black;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  p {
    font-size: 0.5em;
    font-weight: bold;
    color: white;
    margin: 0;
  }
}
