.shop-filter {
  width: 100%;
  padding: 1em 0;

  .search {
    width: 70%;
    padding: 0.5em;
    border-radius: 5px;
  }
  .sort {
    width: 27%;
    margin-left: 3%;
    padding: 0.5em;
    border-radius: 5px;
  }
}
