.shop-filter {
  width: 100%;
  padding: 1em 0;
  @include lg-screen {
    padding: 1.5em 0;
  }

  .search {
    width: 60%;
    padding: 0.5em;
    border-radius: $border-radius;
  }
  .sort {
    width: 37%;
    margin-left: 3%;
    padding: 0.5em;
    border-radius: $border-radius;
  }
}
