html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
body {
  font-size: 1.6rem;
  font-family: sans-serif;
  background: $background;
  color: rgba($black, 0.8);
}

.layout {
  min-height: calc(100vh - 120px); // minus header + footer1
  padding: $screen-padding-xs;
  @include sm-screen {
    padding: $screen-padding-sm;
  }
  @include xlg-screen {
    padding: $screen-padding-xlg;
  }
}
