html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
body {
  font-size: 1.6rem;
  font-family: sans-serif;
  background: $background;
  color: $black;
}

.layout {
  &:first-child {
    padding-top: 1em;
  }
  &:last-child {
    padding-bottom: 1em;
  }
  min-height: calc(100vh - 120px); // minus header + footer
  padding: $screen-padding-xs;
  // more sizes
}
