$white: #fff;
$black: #0e1111;

$grey: #f5f5fa;
$purple: #26047e;
$pink: #c23390;
$eton-blue: #80c3eb;

$background: $grey;
$accent1: $purple;
$accent2: $pink;
$logo-accent: $eton-blue;

$screen-padding-xs: 0 1em;
$screen-padding-sm: 0 1em;
$screen-padding-md: 0 1em;
$screen-padding-lg: 0 1em;
